*{
    font-family: 'Archivo-ExtraLight', sans-serif;
    font-size: 48px;
    margin: 0;
    padding: 0;
}
.container{
    background-image: linear-gradient(45deg, rgb(1, 0, 21), rgb(5, 0, 158));
    width: 100%;
    min-height: 100vh;
    color: white;
    position: relative;              /*-                                  */
}
.clock-container{
    width: 600px;
    height: 300px;
    position: absolute;              /*-                                  */
    top: 50%;                        /*- these are only for get centre    */
    left: 50%;                       /*- You can use another code at there*/
    transform: translate(-50%,-50%); /*-                                  */
    background-color: rgba(255, 255, 255, 0.463);

}
.clock{
    /* background-color: rgb(1, 0, 37); */
    /* opacity: 10%; */
    /* height: 200px; */
    width: 200px;
    padding: 20px 20px 0 20px;
    margin: 10% 15% 0 15%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    row-gap: 10px;
}
.clock pre.nav{
    font-size: 15px;
}
.daydate{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px 49px 0 174px;
}